* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  font-family: "Barlow", sans-serif;
}

html {
  font-size: 62.5%;
}

/* ///////////////////// */
main {
  display: flex;
  background-color: #2b2a30;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.contenedor-temporizador {
  width: 310px;
  height: 310px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: gray;
  background: conic-gradient(from 180deg, var(--color-1) 100%, black 100%);
  box-shadow: -10px 10px 20px 10px rgba(22, 22, 25, 0.9), 0 0 20px 20px rgba(72, 70, 76, 0.7);
}
.contenedor-temporizador .temporizador {
  width: 300px;
  height: 300px;
  background: radial-gradient(#3e3e46, #141416);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding-top: 5rem;
  position: relative;
}
.contenedor-temporizador .temporizador .input-numeros {
  background-color: transparent;
  color: white;
  width: 240px;
  height: 90px;
  font-size: 10rem;
  font-size: 9rem;
  font-weight: 300;
  border: none;
  outline: none;
  text-align: center;
  top: 83px;
  border-bottom: 6px solid var(--color-2);
}
.contenedor-temporizador .temporizador .input-numeros:disabled {
  border-bottom: 6px solid transparent;
}
.contenedor-temporizador .temporizador .contenedor-botones {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.contenedor-temporizador .temporizador__boton {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 500;
  padding: 0.5rem 2rem;
  border-radius: 2rem;
}
.contenedor-temporizador .temporizador #boton-start {
  display: none;
  background-color: var(--color-1);
}
.contenedor-temporizador .temporizador #boton-start:hover {
  background-color: var(--color-2);
}
.contenedor-temporizador .temporizador #boton-stop {
  display: none;
  background-color: var(--color-1);
}
.contenedor-temporizador .temporizador #boton-stop:hover {
  background-color: var(--color-2);
}
.contenedor-temporizador .temporizador__settings {
  width: 25px;
  height: 25px;
  background-image: url(../assets/gear.svg);
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  opacity: 0.4;
}
.contenedor-temporizador .temporizador__settings:hover {
  opacity: 0.6;
}
.contenedor-temporizador .temporizador__settings:disabled {
  opacity: 0;
}

/*TEMAS ///////////////// */
.tema-verde {
  --color-1: #00aa51;
  --color-2: #058141;
}

.tema-rojo {
  --color-1: crimson;
  --color-2: rgb(185, 18, 51);
}

/* ///////////////// */
.visible {
  display: inherit !important;
}

.girar {
  animation: girar 0.15s;
  animation-iteration-count: 3;
}

@keyframes girar {
  from {
    transform: rotateZ(15deg);
  }
  to {
    transform: rotateZ(-15deg);
  }
}
/* //////////////////////// */
.check {
  position: absolute;
  background-image: url(../assets/check.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  filter: drop-shadow(5px 5px 5px rgba(35, 35, 39, 0.5));
  width: 150px;
  height: 150px;
  top: 45px;
  left: 86px;
  display: none;
}

.oculto {
  opacity: 0;
}

/*# sourceMappingURL=style.css.map */
