* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  font-family: sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #2b2a30;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

/*TEMAS ///////////////// */
.tema-verde {
  --color-1: #00aa51;
  --color-2: #058141;
}

.tema-rojo {
  --color-1: crimson;
  --color-2: rgb(185, 18, 51);
}

/* ///////////////////// */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.aviso {
  background-color: rgb(255, 225, 247);
  padding: 1rem;
  font-size: 2.2rem;
  position: absolute;
  top: 4rem;
  width: 20rem;
  border-radius: 1rem;
  text-align: center;
  display: none;
  flex-direction: column;
  z-index: 1;
}
.aviso b {
  font-size: 4rem;
}

.contenedor-temporizador {
  width: 31rem;
  height: 31rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: gray;
  background: conic-gradient(from 180deg, var(--color-1) 100%, black 100%);
  box-shadow: -1rem 1rem 2rem 1rem rgba(22, 22, 25, 0.9), 0 0 2rem 2rem rgba(72, 70, 76, 0.7);
}
.contenedor-temporizador .temporizador {
  width: 30rem;
  height: 30rem;
  background: radial-gradient(#3e3e46, #141416);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding-top: 5rem;
  position: relative;
}
.contenedor-temporizador .temporizador .input-numeros {
  font-family: "Barlow", sans-serif;
  background-color: transparent;
  color: white;
  width: 24rem;
  height: 9rem;
  font-size: 10rem;
  font-size: 9rem;
  font-weight: 300;
  border: none;
  outline: none;
  text-align: center;
  top: 8.3rem;
  border-bottom: 0.6rem solid var(--color-2);
}
.contenedor-temporizador .temporizador .input-numeros:disabled {
  border-bottom: 0.6rem solid transparent;
}
.contenedor-temporizador .temporizador .contenedor-botones {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.contenedor-temporizador .temporizador__boton {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-weight: 500;
  padding: 0.5rem 2rem;
  border-radius: 2rem;
  font-family: "Barlow", sans-serif;
}
.contenedor-temporizador .temporizador #boton-start {
  display: none;
  background-color: var(--color-1);
  text-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}
.contenedor-temporizador .temporizador #boton-start:hover {
  background-color: var(--color-2);
}
.contenedor-temporizador .temporizador #boton-stop {
  display: none;
  background-color: var(--color-1);
}
.contenedor-temporizador .temporizador #boton-stop:hover {
  background-color: var(--color-2);
}
.contenedor-temporizador .temporizador__boton-settings {
  width: 2.5rem;
  height: 2.5rem;
  background-image: url(../assets/gear.svg);
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  opacity: 0.4;
}
.contenedor-temporizador .temporizador__boton-settings:hover {
  opacity: 0.6;
}
.contenedor-temporizador .temporizador__boton-settings:disabled {
  opacity: 0;
}

/* ///////////////// */
.girar {
  animation: girar 0.15s;
  animation-iteration-count: 3;
}

@keyframes girar {
  from {
    transform: rotateZ(15deg);
  }
  to {
    transform: rotateZ(-15deg);
  }
}
/* //////////////////////// */
.check {
  position: absolute;
  background-image: url(../assets/check.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  filter: drop-shadow(0.5rem 0.5rem 0.5rem rgba(35, 35, 39, 0.5));
  width: 15rem;
  height: 15rem;
  top: 4.5rem;
  left: 8.6rem;
  display: none;
}

/* FOOTER */
footer {
  height: 5rem;
  text-align: center;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
}
footer a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
footer a:hover {
  text-decoration: underline;
}

/* ///////////////////////// */
.visible {
  display: inherit !important;
}

.oculto {
  opacity: 0;
}

#audio {
  display: none;
}

/*# sourceMappingURL=style.css.map */
